.congratsCtn {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.congrats h1 {
    font-size: 100px;
}

@media(max-width: 815px) {
  .congrats h1 {
    font-size: 75px;
}
  
}