

.header {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 25px;

      /* box-shadow: 0 4px 12px rgba(0,0,0,0.08); */
}

header a {
  text-decoration: none;
}

@media(max-width: 600px) {
    .header {
        padding: 40px;
    }
}